#inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#inputs > div {
	min-height: 4em;
}
#inputs > div > label {
	display: block;
}

.test {
	border: 1px solid black;
	border-radius: 1em;
	padding: 1em;
	padding-top: 0;
	margin: 2em;
}